<!DOCTYPE html>
{% load static %}
<html>

<head>
	<title>Story-3 Rifqi</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>



	<nav class="navbar navbar-expand-lg warnaNavbar navbar-expand" id="nb">
  		<a class="navbar-brand" href="{% url 'portofolio:launch' %}">Portofolio</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    	<div class="navbar-nav ml-auto">
	      		<a class="nav-item nav-link" href="{% url 'portofolio:about' %}">Tentang</a>
	      		<a class="nav-item nav-link" href="{% url 'portofolio:skills' %}">Kemampuan</a>
	      		<a class="nav-item nav-link" href="{% url 'portofolio:experiences' %}">Pengalaman</a>
	      		<a class="nav-item nav-link" href="{% url 'portofolio:gallery' %}">Galeri</a>
	      		<a class="nav-item nav-link" href="{% url 'portofolio:contact' %}">Hubungi</a>
	    	</div>
  		</div>
	</nav>

	<body>
		<!-- ABOUT PAGE -->
		<div class="about-page" id="ap">
			<h2>Tentang</h2>

			<p class="tentang-saya">
			 	Rifqi adalah mahasiswa Ilmu Komputer di Fasilkom UI. <br>
				Di tahun kedua perkuliahannya, pemuda yang aktif, energik, dan ceria ini <br>
				sangat senang mempelajari mata perancangan pemrograman web.
			</p>

			<h2>Pendidikan</h2>

			<div class="pendidikan-saya">
				<div class="instansi">
					<img src="{% static 'images/edu/logo_sma6.png' %}" class="logo-instansi">
					<h4>SMA Negeri 6 Bogor</h4>
				</div>

				<div class="instansi">
					<img src="{% static 'images/edu/logo_ui.png' %}" class="logo-instansi">
					<h4>Universitas Indonesia</h4>
				</div>	
			</div>

		</div>
	</body>