<!DOCTYPE html>
{% load static %}
<html>

<head>
	<title>Story-3 Rifqi</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>



	<nav class="navbar navbar-expand-lg warnaNavbar navbar-expand" id="nb">
  		<a class="navbar-brand" href="{% url 'portofolio:launch' %}">Portofolio</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    	<div class="navbar-nav ml-auto">
	      		<a class="nav-item nav-link" href="{% url 'portofolio:about' %}">Tentang</a>
	      		<a class="nav-item nav-link" href="{% url 'portofolio:skills' %}">Kemampuan</a>
	      		<a class="nav-item nav-link" href="{% url 'portofolio:experiences' %}">Pengalaman</a>
	      		<a class="nav-item nav-link" href="{% url 'portofolio:gallery' %}">Galeri</a>
	      		<a class="nav-item nav-link" href="{% url 'portofolio:contact' %}">Hubungi</a>
	    	</div>
  		</div>
	</nav>
	
	<!-- CONTACT PAGE -->
	<body>
		<div class="hubungi-saya" id="cp">
			<h3>Hubungi Saya</h3>
			<div class="contact-container">
				<a href="mailto:mqnisen@gmail.com" target="_blank"><img src="{% static 'images/contact/logo_email.png' %}" class="logo-cp"/></a>
				<a href="https://www.linkedin.com/in/mrifqi" target="_blank"><img src="{% static 'images/contact/logo_linkedin.png' %}" class="logo-cp"/></a>
				<a href="http://line.me/ti/p/mqnisen" target="_blank"><img src="{% static 'images/contact/logo_line.png' %}" class="logo-cp"/></a>
				<a href="https://www.instagram.com/enbeqi" target="_blank"><img src="{% static 'images/contact/logo_ig.png' %}" class="logo-cp"/></a>
			</div>
			<a href="{% url 'portofolio:launch' %}"><img src="{% static 'images/iconfinder_upbutton.png' %}" class="scroll-btn"/></a>
		</div>
		
	</body>