<!DOCTYPE html>
{% load static %}
<html>

<head>
	<title>Story-3 Rifqi</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>



	<nav class="navbar navbar-expand-lg warnaNavbar navbar-expand" id="nb">
  		<a class="navbar-brand" href="{% url 'portofolio:launch' %}">Portofolio</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    	<div class="navbar-nav ml-auto">
	      		<a class="nav-item nav-link" href="{% url 'portofolio:about' %}">Tentang</a>
	      		<a class="nav-item nav-link" href="{% url 'portofolio:skills' %}">Kemampuan</a>
	      		<a class="nav-item nav-link" href="{% url 'portofolio:experiences' %}">Pengalaman</a>
	      		<a class="nav-item nav-link" href="{% url 'portofolio:gallery' %}">Galeri</a>
	      		<a class="nav-item nav-link" href="{% url 'portofolio:contact' %}">Hubungi</a>
	    	</div>
  		</div>
	</nav>

	<body>
		<!-- EXPERIENCES PAGE -->
		<div class="pengalaman-saya" id="exp">
			<h3>Organisasi</h3>
			<div class="exp-box">
				<img src="{% static 'images/exp/logo_bem.png' %}" class=logo-exp>
				<div class="exp-text">
					<h5>BEM FASILKOM UI 2019</h5>
					<h6>Dept. Akademis dan Kepemimpinan</h6>
				</div>
			</div>

			<h3 class="vol-header">Kepanitiaan</h3>
			<div class="vol-container">
				<div class="exp-box">
					<img src="{% static 'images/exp/logo_cf.png' %}" class=logo-exp>
					<div class="exp-text">
						<h5>COMPFEST 11</h5>
						<h6>Staff Playground</h6>
					</div>
				</div>

				<div class="exp-box">
					<img src="{% static 'images/exp/logo_cgt.png' %}" class=logo-exp>
					<div class="exp-text">
						<h5>Computers Get Together</h5>
						<h6>Staff Bazaar dan Konsumsi</h6>
					</div>
				</div>

				<div class="exp-box">
					<img src="{% static 'images/exp/logo_siwak.png' %}" class=logo-exp>
					<div class="exp-text">
						<h5>SIWAK-NG</h5>
						<h6>Staff Akomodasi</h6>
					</div>
				</div>

			</div>
		</div>
	</body>