<!DOCTYPE html>
{% load static %}
<html>

<head>
	<title>Story-3 Rifqi</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>



	<nav class="navbar navbar-expand-lg warnaNavbar navbar-expand" id="nb">
  		<a class="navbar-brand" href="{% url 'portofolio:launch' %}">Portofolio</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    	<div class="navbar-nav ml-auto">
	      		<a class="nav-item nav-link" href="{% url 'portofolio:about' %}">Tentang</a>
	      		<a class="nav-item nav-link" href="{% url 'portofolio:skills' %}">Kemampuan</a>
	      		<a class="nav-item nav-link" href="{% url 'portofolio:experiences' %}">Pengalaman</a>
	      		<a class="nav-item nav-link" href="{% url 'portofolio:gallery' %}">Galeri</a>
	      		<a class="nav-item nav-link" href="{% url 'portofolio:contact' %}">Hubungi</a>
	    	</div>
  		</div>
	</nav>

	<body>
		<!-- GALLERY PAGE -->
		<div class="galeri-saya" id="gs">
			
			<div class="photos-container">
				<div class="right-container">
					<img src="{% static 'images/gallery/gf1-1.jpg' %}">
					<img src="{% static 'images/gallery/gf1-2.jpg' %}">
					<img src="{% static 'images/gallery/gf1-3.jpg' %}">
					<img src="{% static 'images/gallery/gf1-4.jpg' %}">
				</div>
				<div class="left-container">
					<img src="{% static 'images/gallery/gf2-1.jpg' %}">
					<img src="{% static 'images/gallery/gf2-2.jpg' %}">
					<img src="{% static 'images/gallery/gf2-3.jpg' %}">
					<img src="{% static 'images/gallery/gf2-4.jpg' %}">
				</div>
				<div class="right-container">
					<img src="{% static 'images/gallery/gf3-1.jpg' %}">
					<img src="{% static 'images/gallery/gf3-2.jpg' %}">
					<img src="{% static 'images/gallery/gf3-3.jpg' %}">
					<img src="{% static 'images/gallery/gf3-4.jpg' %}">
				</div>
			</div>
		</div>
		
	</body>