<!DOCTYPE html>
{% load static %}
<html>

<head>
	<title>Story-3 Rifqi</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>



	<nav class="navbar navbar-expand-lg warnaNavbar navbar-expand" id="nb">
  		<a class="navbar-brand" href="{% url 'portofolio:launch' %}">Portofolio</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    	<div class="navbar-nav ml-auto">
	      		<a class="nav-item nav-link" href="{% url 'portofolio:about' %}">Tentang</a>
	      		<a class="nav-item nav-link" href="{% url 'portofolio:skills' %}">Kemampuan</a>
	      		<a class="nav-item nav-link" href="{% url 'portofolio:experiences' %}">Pengalaman</a>
	      		<a class="nav-item nav-link" href="{% url 'portofolio:gallery' %}">Galeri</a>
	      		<a class="nav-item nav-link" href="{% url 'portofolio:contact' %}">Hubungi</a>
	    	</div>
  		</div>
	</nav>

	<body>
<!-- SKILLS PAGE -->
		<div class="kemampuan-saya" id="skl">
			<h2>Kemampuan</h2>

			<div class="skill-container">
				<div class="skill">
					<h5 class="name">python</h5>
					<img src="{% static 'images/skills/logo_python.png' %}" class=logo-skill>
					<h5>7/10</h5>
				</div>

				<div class="skill">
					<h5 class="name">java</h5>
					<img src="{% static 'images/skills/logo_java.png' %}" class=logo-skill>
					<h5>8/10</h5>
				</div>

				<div class="skill">
					<h5 class="name">html-css</h5>
					<img src="{% static 'images/skills/logo_html-css.png' %}" class=logo-skill>
					<h5>7/10</h5>
				</div>
			</div>
		</div>
	</body>